body {
    margin: 0px auto;
    background-color: rgb(168,104,13);
}
h2 {
    color: azure;
}
hr {
    color: azure;
}
.contenedor {
    overflow: hidden;
}
.menu-navegacion {
    top: 0px;
    color: hsl(38, 11%, 86%);
    font-family: 'Times New Roman', Times, serif;
    border-style: dashed;
}
.menu-navegacion ul {
    list-style-type: none;
}
.menu-navegacion ul li {
    display: inline-block;
    
}
.menu-navegacion ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.menu-navegacion ul li a:hover {
    font-size: 24px;
}
.contenido-principal {
    background-color: #423C40;
    color: #ffc;
    width: 960px;
    margin: 100px auto 0px auto;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
    border-style:  groove;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contenido-principal p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}